body{
  margin: 0;
  padding:0;
  font-family: 'Inter',sans-serif;
  font-size: 2vh;
  background: rgba(10, 12, 28, 1);
  color: white;
}

.text-box{
  grid-area: text-box;
}

.image-box{
  grid-area: image-box;
}

.attribution{
  position: fixed;
  bottom: 5%;
  right: 5%;
  color: white;
}
.wrapper{
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "text-box image-box";
}

img{
  width: 100%;
  height: auto;
  display: block;
}

.stats{
  display: flex;
  flex-flow: row;
}

.font-color{
  color:#AB5CDB;
}

.description{
  padding: 0 13%;
  background: #1B1937;
}

.description > h1 {
  max-width: 100%;
  font-weight: 400;
  margin-top: 6vh;
}

.description-paragraph{
  font-weight: 200;
  font-size: 1.9vh;
  line-height: 1.7em;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

h4{
  margin:0;
}

.individual-stat{
  margin-right: 9vh;
  margin-top: 8vh;
}

.stat-paragraph {
  font-weight: 200;
  font-size: 1.5vh;
  letter-spacing: 1px;
  margin-top: 1vh;
}


@media screen and (max-width: 1025px){
  .wrapper{
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "image-box" "text-box";
    text-align: center;
    margin-top: 7em;
  }
  .stats{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
  .description-paragraph{
    font-size: 2.2vh;
  }
  .attribution{
    display: none;
  }
  .individual-stat{
   margin-top: 8vh;
   margin-right: 0vh;
  }
  h4{
    font-size: 3vh;
  }
}